character {
	description {
		name "Web the Wizard"
		pronoun "they/them"
	}
	setting "currency_auto_exchange" false
	ability "Strength" 0
	ability "Dexterity" 0
	ability "Constitution" 0
	ability "Intelligence" 0
	ability "Wisdom" 0
	ability "Charisma" 0
	hit_points {
		current 0
		temp 0
	}
	inspiration false
}
